# dependencies
/node_modules

# production build
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# optional: if using coverage tools like Jest
/coverage

# optional: if using parcel-bundler cache
.cache

# local yarn files
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# optional: if using storybook
out/
.storybook-out/

# optional: Mac system files
Thumbs.db
